html {
    font-family: 'Dosis', sans-serif;
    margin: 20px;
    background-color: #464646;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #fff1bb;
    height: 85vh;
    padding: 75px 0 0px 150px;
    border-radius: 10px;
    border: ridge 3px #b6b096
}

b {
    font-weight: normal;
    background-color: yellow;
}

main {
    width: 500px;
}

h1 {
    font-family: 'Rock Salt', cursive !important;
    margin-left: 10px;
    padding-bottom: 20px;
    width: 1000px;
}

section {
    background-color: white;
    height: 80%;
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    border: solid 1px #b6b096
}

#section2 {
    padding-bottom: 60px;
}

.section3 {
    position: relative;
    padding-top: 20px;
    width: 190%;
    height: 35vh;
}

.section3 p {
    font-size: 20px;
}

#madlib1P, #madlib2P, #madlib3P {
    line-height: 2.5em;
    font-size: 18px;
}

div {
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

#userName, #hair-long, #companionName, #companion-blob, #weapon-bow, #hat-chicken, #treat-icecream {
    margin-bottom: 25px;
}

form, #madlib1, #madlib2, #madlib3 {
    position: relative;
}

#nextBtnForm, #submitBtn, #nextBtn1, #nextBtn2, #prevBtn2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 20px;
    padding: 5px;
}

#prevBtnForm {
    position: absolute;
    right: 32%;
    bottom: 0px;
    margin: 20px;
    padding: 5px;
}

#prevBtn1 {
    position: absolute;
    right: 9%;
    bottom: 0px;
    margin: 20px;
    padding: 5px;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    padding: 40px 30px 40px 30px;
    width: 500px;
}

footer p {
    width: 33%;
    bottom: 0px;
}

a {
    text-decoration: dotted underline;
    color: black;
}

/* FORM PAGE 1 */
    #shorthair {
        position: absolute;
        top: 15%;
        left: 150%;
    }

    #longhair {
        position: absolute;
        top: 60%;
        left: 120%;
    }

/* FORM PAGE 2 */
#sword {
    position: absolute;
    top: 15%;
    left: 115%;
}

#spear {
    position: absolute;
    top: 35%;
    left: 170%;
}

#bow {
    position: absolute;
    top: 65%;
    left: 125%;
}

/* MADLIBS PAGE 1 */
    #shorthair2 {
        position: absolute;
        top: 98%;
        left: 20%;
        transform: scale(0.9,0.9)
    }

    #longhair2 {
        position: absolute;
        top: 94%;
        left: 20%;
        transform: scale(0.8,0.8)
    }

    #dog {
        position: absolute;
        top: 87%;
        left: 79%;
    }

    #cat {
        position: absolute;
        top: 92%;
        left: 85%;
    }

    #frog {
        position: absolute;
        top: 109%;
        left: 97%;
    }

    #blob {
        position: absolute;
        top: 107%;
        left: 95%;
    }

    #sword2 {
        position: absolute;
        top: 95%;
        left: 150%;
        transform: scale(.9,.9);
    }

    #spear2 {
        position: absolute;
        top: 94%;
        left: 150%;
        transform: scale(.8,.8);
    }

    #bow2 {
        position: absolute;
        top: 103%;
        left: 153%;
        transform: scale(.9,.9);
    }

/* MADLIBS PAGE 2 */
#shorthair3 {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: scale(1,1)
}

#longhair3 {
    position: absolute;
    top: 88%;
    left: 30%;
    transform: scale(0.9,0.9)
}

#dog2 {
    position: absolute;
    top: 100%;
    left: 105%;
}

#cat2 {
    position: absolute;
    top: 105%;
    left: 115%;
}

#frog2 {
    position: absolute;
    top: 112%;
    left: 125%;
}

#blob2 {
    position: absolute;
    top: 108%;
    left: 125%;
}

#chef {
    position: absolute;
    top: 75%;
    left: 38%;
}

#chef2 {
    position: absolute;
    top: 95%;
    left: 115%;
    transform: scale(0.8,0.8);
}

#chef3 {
    position: absolute;
    top: 103.5%;
    left: 119%;
    transform: scale(0.2,0.2);
}

#cowboy {
    position: absolute;
    top: 80%;
    left: 38%;
}

#cowboy2 {
    position: absolute;
    top: 97%;
    left: 116%;
    transform: scale(0.8,0.8);
}

#cowboy3 {
    position: absolute;
    top: 102%;
    left: 115.5%;
    transform: scale(0.8,0.8) rotate(15deg);
}

#cowboy4 {
    position: absolute;
    top: 106.5%;
    left: 119%;
    transform: scale(0.2,0.2);
}

#chicken {
    position: absolute;
    top: 75%;
    left: 34%;
}

#chicken2 {
    position: absolute;
    top: 95%;
    left: 112%;
    transform: scale(0.6,0.6);
}

#chicken3 {
    position: absolute;
    top: 103%;
    left: 115%;
    transform: scale(0.2,0.2);
}

/* MADLIBS PAGE 3 */
    #chocolate {
        position: absolute;
        top: 80%;
        left: 110%;
    }

    #cake {
        position: absolute;
        top: 80%;
        left: 110%;
    }

    #lollipop {
        position: absolute;
        top: 75%;
        left: 110%;
    }

    #icecream {
        position: absolute;
        top: 70%;
        left: 115%;
    }

.grid {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 20px;
    row-gap: 15px;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 1;
    grid-row: 3;
}

.five {
    grid-column: 2;
    grid-row: 3;
}

.six {
    grid-column: 1;
    grid-row: 4;
}

.seven {
    grid-column: 2;
    grid-row: 4;
}

.eight {
    grid-column: 1;
    grid-row: 5;
}

.nine {
    grid-column: 2;
    grid-row: 5;
}

.ten {
    grid-column: 1;
    grid-row: 6;
}

.eleven {
    grid-column: 2;
    grid-row: 6;
}

.twelve {
    grid-column: 1;
    grid-row: 7;
}

.thirteen {
    grid-column: 2;
    grid-row: 7;
}

.fourteen {
    grid-column: 1;
    grid-row: 8;
}

.fifteen {
    grid-column: 2;
    grid-row: 8;
}

.sixteen {
    grid-column: 1;
    grid-row: 9;
}

.seventeen {
    grid-column: 2;
    grid-row: 9;
}