html {
    font-family: 'Courgette', cursive;
    color: white;
    background: linear-gradient(90deg, rgba(16,24,32,1) 0%, rgba(138,43,43,1) 100%);  
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 80px;
}

main {
    display: flex; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.expand {
    width: 12.5%;
    transition: 300ms ease-in-out;
}

div:last-of-type {
    border-right: none;
}

h2 {
    margin-top: 100%;
}

h2, h3 {
    color: gold;
    font-size: 36px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px black);
}

h2, h3 {
    line-height: .5em;
}

button {
    color: white;
    background-color: rgba(138,43,43,0);
    text-align: center;
    font-size: 30px;
    margin-top: 200%;
    padding: 15% 20%;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(50%,0);
}

button:hover {
    cursor: pointer;
    color: lightcoral;
    border: 2px solid lightcoral;
}

#div2 {
    backdrop-filter: brightness(75%);
}

#div4 {
    backdrop-filter: brightness(80%);
}

#div6 {
    backdrop-filter: brightness(85%);
}

#div8 {
    backdrop-filter: brightness(90%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
}

aside {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 12%;
    right: 5%;
    padding: 2% 3% 1% 3%;
    border-radius: 10px;
    background-color: rgba(16,24,32,0.75);
    width: 20%;
}

.fa-question-circle {
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
}

.fa-times-circle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
}

.showing {
    animation: fadein 200ms linear;
}

.hidden {
    display: none;
}

@keyframes fadein {
    from { opacity: 0%; }
    to { opacity: 100%; }
}


/* sources page */
a {
    color: white;
    text-decoration: none;
}

li:hover, a:hover, .fa-question-circle:hover, .fa-times-circle:hover {
    cursor: pointer;
    color: lightcoral;
}

ol {
    margin: 5%;
    margin-top: 0;
    font-size: 30px;
}

#back {
    font-size: 30px;
    margin-left: 5%;
}