html {
    font-family: 'Libre Franklin', sans-serif;
    overflow: hidden;
}

#analysis, #storyboard, #brief, #visual, #flows, #testing {
    overflow: visible;
}

#analysis body {
    height: 145vh;
}

#storyboard body {
    height: 125vh;
}

#visual body {
    height: 170vh;
}

#flows body {
    height: 315vh;
}

#testing body {
    height: 210vh;
}

body {
    background-color: #c5e9fa;
    background-image: linear-gradient(300deg, #d1edfa 0%, #ffee8b 37%, #ffd3d6 100%);
    height: 100vh;
    margin: 2%;
    font-size: 16px;
    line-height: 1.5em;
}

header {
    display: flex;
}

h1 {
    margin: 5%;
    margin-right: 2%;
    font-size: 36px;
    font-weight: normal;
}

#lineDeco {
    background-color: #b9e5f9;
    background-image: linear-gradient(300deg, #abe2fe 0%, #ffe552 37%, #ffb6bb 100%);
    margin: 0;
    margin-top: 5.7%;
    width: 58%;
    height: 7px;
}

ul {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

li {
    margin-right: 5%;
    width: 30%;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: rgb(168, 168, 255);
}  

p {
    margin-top: 0;
}

#biblio p {
    margin-top: 3%;
}

#storyboard #lineDeco {
    width: 72%;
}

#storyboard ul {
    display: block;
}

#storyboard li {
    width: 95%;
}

#storyboard li:first-of-type {
    margin-bottom: 5%;
}

#storyboard h2 {
    margin: 0;
}

#storyboard p {
    margin-top: 1%;
}

#storyboard img {
    margin-top: -2.5%;
    margin-left: 5%;
    width: 50%;
}

#analysis #lineDeco {
    width: 59%;
}

#analysis ul {
    display: block;
}

#analysis li {
    width: 95%;
}

#analysis li:first-of-type {
    margin-bottom: 5%;
}

.divFlex {
    display: flex;
}

.divFlex p {
    width: 52%;
}

.imgDiv {
    margin-top: 0.5%;
    margin-left: 5%;
    width: 47%;
}

.imgDiv img {
    width: 100%;
}

#brief #lineDeco {
    width: 70%;
}

#brief p {
    margin: 0 5% 1% 5%;
    width: 50%;
}

#visual #lineDeco {
    width: 67.5%;
}

#container {
    margin-left: 0.4%;
    margin-bottom: 5%;
}

.grid-item {
    width: 33%;
}

img {
    width: 100%;
}

#visual #sources {
    color: blue;
}

#visual #sources:hover {
    color: purple;
}

#sourcesLink {
    position: absolute;
    right: 6.9%;
    bottom: -70%;
}

#sources h1 {
    margin-bottom: 4%;
}

#sources #lineDeco {
    width: 76.5%;
}

#sources ul {
    display: block;
    margin-top: 0;
    margin-left: 5%;
}

#sources li {
    margin-bottom: 2%;
}

#flows #lineDeco {
    width: 80%;
}

#flowsImg {
    width: 90%;
    margin: auto;
}

#report ul {
    display: block;
    margin-left: 2%;
}

#report li {
    margin-left: 5%;
    width: 90%;
}

#report p {
    margin-left: 5%;
    width: 50%;
}

#testing #lineDeco {
    width: 65%;
}

#testing ul {
    display: block;
}

#testing li {
    width: 95%;
}

#testing h3 {
    font-size: 16px;
}

#testing .testText {
    width: 50%;
}
#testing p {
    width: 100%;
}

#testing img {
    /* width: 100%; */
}

#testing #conclusion {
    margin-left: 7%;
    margin-bottom: 10%;
    width: 100%;
}

#testing #conclusionFlex {
    display: flex;
}

#conclusionFlex div {
    width: 40%;
}
